* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: normal;
  color: #000;
  text-align: left;
  background: #ffffff;
}

ol,
ul {
  margin: 0 !important;
  padding: 0 !important;
}

ol,
ul li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none !important;
}
a:hover {
  color: #fff !important;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

input[type=radio] {
  width: 5px;
  height: 5px;
  padding: 0.4rem;
  top: 3px;
  border: 2px solid #fff;
  outline: none;
  border-radius: 50%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  position: relative;
}

input[type=radio]::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: none;
}

input[type=radio]:checked {
  border-color: #fed580;
  box-shadow: 0 0 10px 3px #fed580;
}

input[type=radio]:checked::after {
  background: #fed580;
}

input[type=number]::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

select {
  cursor: pointer;
}

main .services {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  padding: 1.5rem;
}
main .services .circle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
main .services .circle .circle-img-top {
  height: 270px;
  width: 270px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 60px rgba(255, 255, 255, 0.3), inset -20px -20px 60px rgba(0, 0, 0, 0.15);
}
main .services .circle .circle-img-top .circle-img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.2784313725), inset -20px -20px 60px rgba(255, 255, 255, 0.2666666667);
}
main .services .circle .circle-img-top .circle-img img {
  width: 100%;
}
main .services .circle .circle-bg {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
main .services .circle .circle-bg .child-circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: auto;
  width: 40%;
}
main .services .circle .circle-bg .child-circle.left1 {
  flex-direction: row-reverse;
  top: 1rem;
  left: -2%;
}
main .services .circle .circle-bg .child-circle.left2 {
  flex-direction: row-reverse;
  top: 9rem;
  left: -4%;
}
main .services .circle .circle-bg .child-circle.left3 {
  flex-direction: row-reverse;
  top: 17rem;
  left: -2%;
}
main .services .circle .circle-bg .child-circle.right1 {
  top: 1rem;
  right: -2%;
}
main .services .circle .circle-bg .child-circle.right2 {
  top: 9rem;
  right: -4%;
}
main .services .circle .circle-bg .child-circle.right3 {
  top: 17rem;
  right: -2%;
}
main .services .circle .circle-bg .child-circle .child-circle-img {
  height: auto;
  width: 150px;
  box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.54), inset -20px -20px 60px rgba(255, 244, 244, 0.58);
  border-radius: 50%;
}
main .services .circle .circle-bg .child-circle .child-circle-img img {
  height: auto;
  width: 100%;
}
main .services .circle .circle-bg .child-circle .child-circle-text {
  padding: 1rem 2rem;
  border-bottom: 2px solid #fff;
  border-radius: 0 50px 0 50px;
  margin-left: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 25px 50px -12px;
  background: #fff;
}
main .services .circle .circle-bg .child-circle .child-circle-text.left-text {
  text-align: right;
}
main .services .circle .circle-bg .child-circle .child-circle-text.right-text {
  text-align: left;
}
main .services .circle .circle-bg .child-circle .child-circle-text h1 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1rem;
  margin-bottom: 0.5rem;
}
main .services .circle .circle-bg .child-circle .child-circle-text p {
  font-size: 0.9rem;
  font-style: italic;
  line-height: 1rem;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */